.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.restaurant-create-container {
  width: 50%;
  margin: 0 auto;
  background-color: red;
}

.restaurant-image {
  margin: 2rem;
  height: 200px;
  width: 200px;
}

.restaurant-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.item-image {
  height: 100px;
  width: 100px;
}

.dashboard-card {
  height: 125px;
  border-radius: 10px;
}
